.product-history-container{
    position: fixed;
    top:20vh;
    left:10vw;
    height: 70vh;
    width: 80vw;
    background-color: rgb(81, 162, 233);
}

.product-history-close{
    position: absolute;
    right: 10px;
    top:20px;
    cursor: pointer;
}